<div class="contact--container">
    <div class="contact__card">

        <h3 class="contact--title">Contact</h3>
        <ul class="contact__card__list">
            <a target="_blank" rel="noopener noreferrer" class="contact__card__list__el"
                href="https://github.com/imEag">
                <img class="footer--icon" src="assets/icons/social_media/github.png" alt="Github">
            </a>
            <a target="_blank" rel="noopener noreferrer" class="contact__card__list__el"
                href="https://discordapp.com/users/imeag#2044">
                <img class="footer--icon" src="assets/icons/social_media/discord.png" alt="Discord">
            </a>
            <a target="_blank" rel="noopener noreferrer" class="contact__card__list__el"
                href="mailto:emma145@hotmail.es">
                <img class="footer--icon" src="assets/icons/social_media/email.png" alt="E-mail">
            </a>
            <a target="_blank" rel="noopener noreferrer" class="contact__card__list__el"
                href="https://www.linkedin.com/in/emmanuelarizabaletagarces/">
                <img class="footer--icon" src="assets/icons/social_media/linkedin.png" alt="LinkedIn">
            </a>
        </ul>
    </div>
</div>