<!-- TODO: put attibution to icon's creators -->

<footer class="footer">
    <div class="footer__sections">
        <h3 class="footer__sections--title">{{text.footer.sections.title}}</h3>
        <ul class="footer__sections__list">
            <p class="section__list__el">{{text.footer.sections.home}}</p>
            <p class="section__list__el">{{text.footer.sections.skills}}</p>
            <p class="section__list__el">{{text.footer.sections.projects}}</p>
            <p class="section__list__el">{{text.footer.sections.contact}}</p>
            <p routerLink="/manage" class="section__list__el">{{text.footer.sections.manage}}</p>
        </ul>
    </div>
    <div class="footer__contact">
        <h3 class="footer__contact--title">{{text.footer.contact.title}}</h3>
        <ul class="footer__contact__list">
            <a href="" class="contact__list__el">
                <img class="footer--icon" src="../../../assets/icons/social_media/github.png" alt="Github">
            </a>
            <a href="" class="contact__list__el">
                <img class="footer--icon" src="../../../assets/icons/social_media/discord.png" alt="Discord">
            </a>
            <a href="" class="contact__list__el">
                <img class="footer--icon" src="../../../assets/icons/social_media/email.png" alt="E-mail">
            </a>
            <a href="" class="contact__list__el">
                <img class="footer--icon" src="../../../assets/icons/social_media/linkedin.png" alt="LinkedIn">
            </a>
        </ul>
    </div>
    <div class="footer__lang">
        <h3 class="footer__lang--title">{{text.footer.langs.title}}</h3>
        <ul class="footer__lang__list">
            <p class="lang_list_el">
                <img class="footer--icon" src="../../../assets/icons/social_media/united-kingdom.png" alt="English" (click)="changeLang('english')">
            </p>
            <p class="lang_list_el">
                <img class="footer--icon" src="../../../assets/icons/social_media/spain.png" alt="Spanish" (click)="changeLang('spanish')">
            </p>
        </ul>
    </div>
</footer>