
<footer class="footer">
    <div class="footer__sections">
        <h3 class="footer__sections--title">{{text.footer.sections.title}}</h3>
        <ul class="footer__sections__list">
            <p (click)="scrollTo('home')" class="section__list__el">{{text.footer.sections.home}}</p>
            <p (click)="scrollTo('about')" class="section__list__el">{{text.footer.sections.about}}</p>
            <p (click)="scrollTo('projects')" class="section__list__el">{{text.footer.sections.projects}}</p>
            <p (click)="scrollTo('contact')" class="section__list__el">{{text.footer.sections.contact}}</p>
            <!-- <p routerLink="/manage" class="section__list__el">{{text.footer.sections.manage}}</p> -->
        </ul>
    </div>
    <div class="footer__contact">
        <h3 class="footer__contact--title">{{text.footer.contact.title}}</h3>
        <ul class="footer__contact__list">
            <a target="_blank" rel="noopener noreferrer" class="contact__list__el" href="https://github.com/imEag">
                <img class="footer--icon" src="assets/icons/social_media/github.png" alt="Github">
            </a>
            <a target="_blank" rel="noopener noreferrer" class="contact__list__el" href="https://discordapp.com/users/imeag#2044">
                <img class="footer--icon" src="assets/icons/social_media/discord.png" alt="Discord">
            </a>
            <a target="_blank" rel="noopener noreferrer" class="contact__list__el" href="mailto:emma145@hotmail.es">
                <img class="footer--icon" src="assets/icons/social_media/email.png" alt="E-mail">
            </a>
            <a target="_blank" rel="noopener noreferrer" class="contact__list__el" href="https://www.linkedin.com/in/emmanuelarizabaletagarces/">
                <img class="footer--icon" src="assets/icons/social_media/linkedin.png" alt="LinkedIn">
            </a>
        </ul>
    </div>
    <div class="footer__lang">
        <h3 class="footer__lang--title">{{text.footer.langs.title}}</h3>
        <ul class="footer__lang__list">
            <p class="lang_list_el">
                <img class="footer--icon" src="assets/icons/social_media/united-kingdom.png" alt="English" (click)="changeLang('english')">
            </p>
            <p class="lang_list_el">
                <img class="footer--icon" src="assets/icons/social_media/spain.png" alt="Spanish" (click)="changeLang('spanish')">
            </p>
        </ul>
    </div>
</footer>