<footer class="footer">
    <div class="footer__sections">
        <h3 class="footer__sections--title">Sections</h3>
        <ul class="footer_sections__list">
            <p class="list__el">Home</p>
            <p class="list__el">Skills</p>
            <p class="list__el">Projects</p>
            <p class="list__el">Contact</p>
        </ul>
    </div>
    <div class="footer__contact">
        <h3 class="footer__contact--title">Contact Me</h3>
        <ul class="footer__contact__list">
            <a href="" class="contact__list__el">GitHub</a>
            <a href="" class="contact__list__el">Discord</a>
            <a href="" class="contact__list__el">Mail</a>
            <a href="" class="contact__list__el">LinkedIn</a>
        </ul>
    </div>
    <div class="footer__lang">
        <h3 class="footer__lang--title">Language</h3>
        <ul class="footer__lang__list">
            <p class="lang_list_el">Eng</p>
            <p class="lang_list_el">Esp</p>
        </ul>
    </div>
</footer>