.footer {
    background-color: var(--gray-light);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 4rem 0 0 0;
    padding: 2rem 0;
    color: var(--black);
    font-size: 1.8rem;
}

.footer__section__list, .footer__contact__list, .footer__lang__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__list__el, .contact__list__el, .lang_list_el {
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding: 1rem 0rem;
    cursor: pointer;
} 

.footer h3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.footer--icon {
    width: 3rem;
    height: 3rem;
}

.footer__section__list {
    flex-direction: column;
}

.section__list__el {
    transition: all 0.3s ease-in-out;
    padding: 1rem 4rem;
}

.section__list__el:hover {
    color: var(--blue);
}

.contact__list__el, .lang_list_el {
    padding: 1rem 1rem;
}

@media only screen and (max-width: 600px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}