<div #profile class="app-profile--container">
    <app-profile></app-profile>
</div>

<div #bar class="app-bar--container">
    <app-bar></app-bar>
</div>

<!-- TODO add about section -->

<div #skills class="app-skills-description--container">
    <app-skills-description></app-skills-description>
</div>

<div #skillsBand class="app-skills--container">
    <app-skills></app-skills>
</div>

<!-- TODO add contact section -->


<div #projects class="app-projects--container">
    <app-projects></app-projects>
</div>