/* --- Importing fonts --- */

@font-face {
    font-family: "inter";
    src: url(../fonts/inter/Inter-Regular.ttf);
}

@font-face {
    font-family: "inter-thin";
    src: url(../fonts/inter/Inter-Thin.ttf);
}

@font-face {
    font-family: "inter-bold";
    src: url(../fonts/inter/Inter-Bold.ttf);
}

@font-face {
    font-family: "inter-black";
    src: url(../fonts/inter/Inter-Black.ttf);
}

@font-face {
    font-family: "roboto";
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "robot-thin";
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "roboto-bold";
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "roboto-black";
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

body {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

/* --- Variables --- */

:root {
    --black: #000000;
    --white: #FFFFFF;
    --gray-light: #f7f7f8;
    --gray-dark: #464863;
    --gray: #c8c8c8;
    --green-dark: #138161;
    --green-light: #c7f5eb;
    --blue-light: #e5f0ff;
    --blue: #0066ff;
}

/* --- Set 1 rem to 10 px --- */
html {
    font-size: 62.5%;
}

/* --- buttons --- */

.btn {
    font-weight: regular;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--blue);
    border: 0rem solid var(--black);
    border-radius: 0.8rem;
    padding: 1.4rem 3.6rem;
    cursor: pointer;
}

.btn-alter {
    font-weight: regular;
    font-size: 1.8rem;
    color: var(--gray-dark);
    background-color: var(--white);
    border: 0.1rem solid var(--gray-dark);
    border-radius: 0.8rem;
    padding: 1.4rem 3.6rem;
    cursor: pointer;
}