.projects--section--container {
    margin: 16rem 0;
}

.projects--container {
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; */
    margin: 0 auto;
    padding: 0 4rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    max-width: 120rem;
}

.projects--title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 4rem 0 5rem 0;
}

@media only screen and (min-width: 900px) {
    .projects--container {
        grid-template-columns: repeat(2, 1fr);
    }
}

