<div class="credits--container">
    <h3 class="credits--title">Icons attribution</h3>
    
    <p>Discord icon https://icon-icons.com/es/icono/la-discordia-logo/145337</p>
    
    <p>LinkedIn icon https://icon-icons.com/es/icono/linkedin-negro-logo/147114</p>
    
    <p>GitHub logo https://icon-icons.com/es/icono/github-logo/73546</p>
    
    <p>Email icon https://icon-icons.com/es/icono/correo-correo-electr%C3%B3nico/82197</p>
    
    <p>Computer icon https://icon-icons.com/es/icono/r%C3%A1pido-sitio-web-carga-velocidad-seo/116619</p>
    
    <p>User icon https://icon-icons.com/es/icono/macho-chico-persona-la-gente-avatar/159358</p>
    
    <p>Burger Menu icon https://icon-icons.com/es/icono/ronda-hamburguesa-men%C3%BA-burger/132782</p>
    
    <p>X icon https://icon-icons.com/es/icono/cancelar-cerrar-borrar-eliminar-cruz/81578</p>
    
    <p>English icon <a href="https://www.flaticon.com/free-icons/uk" title="uk icons">Uk icons created by Freepik - Flaticon</a></p>
    
    <p>Spanish icon <a href="https://www.flaticon.com/free-icons/spain" title="spain icons">Spain icons created by Freepik - Flaticon</a></p>
</div>
