<div class="skills__upper--container">
    <h3 class="skills--title">My Skills</h3>
    <div class="skills__card">
        <div class="skills__card__text">
            <!-- TODO add language selection (important) -->
            <p>
                My main experience is front end development, where I build powerful, reactive and useful websites. 
                I use HTML, CSS and JavaScript joint with AngularJS and Jquery.
                <br> <br>
                I also develop backend
                applications such as REST APIs built with NodeJs, ExpressJS, MongoDB and more technologies.
            </p>
        </div>
        <div class="skills__card__img">
            <div class="skills__card__img--img">

            </div>
        </div>
    </div>
</div>