<!-- TODO create a container that will work for 1200 px vindow width or more -->

<div class="profile__info">
    <div class="info__1">
        <div class="info__1--background">
            <div class="info--img">
            </div>
        </div>
    </div>
    <div class="info__2">
        <div class="desc-container">
            <p class="desc--hello">{{text.profile.title}}</p>
            <p class="desc--desc">{{text.profile.description}}</p>
            <div class="desc__buttons">
                <button class="work-btn btn-alter">{{text.profile.work_btn}}</button>
                <button class="contact-btn btn">{{text.profile.contact_btn}}</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="lang-selector">
    <button id="eng-btn" (click)="changeLang('english')">ENGLISH</button>
    <button id="spa-btn" (click)="changeLang('spanish')">ESPAÑOL</button>
</div> -->