<div class="profile__info">
    <div class="info__1">
        <div class="info__1--background">
            <div class="info--img">
            </div>
        </div>
    </div>
    <div class="info__desc">
        <div class="desc-container">
            <p class="desc--hello">Hello!</p>
            <p class="desc--desc">I'm Emmanuel Arizabaleta, Web Developer.</p>
            <div class="desc__buttons">
                <button class="work-btn btn">See my work</button>
                <button class="contact-btn btn-alter">Talk to me</button>
            </div>
        </div>
    </div>
</div>