
.bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-dark);
}

.bar__ul {
    color: var(--black);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 2rem; */
    cursor: pointer;
}

.bar__ul a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--white);
    padding: 4rem 2rem;
}

@media only screen and (max-width: 650px) {
    .bar__ul a {
        padding: 4rem 1rem;
    }
}

.bar__ul a:hover {
    background-color: var(--white);
    color: var(--black);
}


/* --- Mobile menu --- */

.bar-container--mobile {
    display: none;
    transition: all 0.3s ease-in-out;
}

.bar__btn--mobile {
    display: none;
    width: 3rem;
    height: 3rem;
    padding: 3rem 2rem;
    cursor: pointer;
    /* turn white a black png  */
    /* filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(45deg) brightness(107%) contrast(101%); */
}

.bar__ul--mobile a {
    color: var(--black);
}

@media only screen and (max-width: 550px) {

    .bar__ul {
        display: none;
    }

    .bar__btn--mobile {
        display: inline-block;
    }

    .bar-container--mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background-color: var(--white);
        position: fixed;
        top: 0;
        border-bottom: .1rem solid var(--gray-dark);
    }

    .bar__ul--mobile {
        display: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bar__ul a {
        padding: 2rem 4rem;
    }


}

.bar__close-btn--mobile {
    padding: 2rem 4rem;
}

/* Sticky bar */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}