
<div class="bar-container">
  <img class="bar__btn--mobile bar__open-btn--mobile" (click)="openMobileBar()" src="assets/icons/ui/burger_menu3.png" alt="menu-button">
  <ul class="bar__ul">
    <!-- TODO in mobile mode, When clicking the mobile bar menu will be closed -->
    <a (click)="scrollTo('home')">{{text.bar.home}}</a>
    <a (click)="scrollTo('projects')">{{text.bar.projects}}</a>
    <a (click)="scrollTo('skills')">{{text.bar.skills}}</a>
    <a (click)="scrollTo('contact')">{{text.bar.contact}}</a>
  </ul>
  <div class="bar-container--mobile" *ngIf="mobileBarOpened">
    <ul class="bar__ul bar__ul--mobile" >
      <img class="bar__btn--mobile bar__close-btn--mobile" (click)="closeMobileBar()" src="assets/icons/ui/x.png" alt="close-button">
      <!-- When clicking the user will be scrolled to that section -->
      <a (click)="scrollTo('home')">{{text.bar.home}}</a>
      <a (click)="scrollTo('projects')">{{text.bar.projects}}</a>
      <a (click)="scrollTo('skills')">{{text.bar.skills}}</a>
      <a (click)="scrollTo('contact')">{{text.bar.contact}}</a>
    </ul>
  </div>
</div>