.bar-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--white);
    border-bottom: .1rem solid var(--gray);
}

.bar__ul {
    color: var(--black);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 2rem; */
    margin-right: 5rem;
    cursor: pointer;
}

.bar__ul a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0 1rem;
    transition: all 0.3s ease-in-out;
}

.bar__ul a:hover {
    color: var(--blue);
}

@media only screen and (max-width: 1200px) {
    .bar-container{
        justify-content: center;
        margin-right: 0;
    }
}


@media only screen and (max-width: 400px) {
    .bar__ul a {
        font-size: 1.6rem;
        margin: 0 .8rem;
    }
}

@media only screen and (max-width: 320px) {
    .bar__ul a {
        font-size: 1.4rem;
        margin: 0 0.6rem;
    }
}