
.bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-bottom: .1rem solid var(--gray);
}

.bar__ul {
    color: var(--black);
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}

.bar__ul a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: 2rem;
    padding: 1.8rem 0.6rem;
    transition: all 0.3s ease-in-out;
}

.bar__ul a:hover {
    color: var(--blue);
}


/* --- Mobile menu --- */

.bar-container--mobile {
    display: none;
    transition: all 0.3s ease-in-out;
}

.bar__btn--mobile {
    display: none;
    width: 3rem;
    height: 3rem;
    padding: 1.8rem 1.8rem;
    cursor: pointer;
}

@media only screen and (max-width: 450px) {

    .bar__ul {
        display: none;
    }

    .bar__btn--mobile {
        display: inline-block;
    }

    .bar-container--mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        background-color: var(--white);
        position: absolute;
        top: 0;
        border-bottom: .1rem solid var(--gray-dark);
    }

    .bar__ul--mobile {
        display: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bar__ul a {
        padding: 2rem 4rem;
    }


}

.bar__close-btn--mobile {
    padding: 2rem 4rem;
}