<!-- TODO add link to project and to github its page -->
<article class="p-preview">
    <div class="p-preview__images">
        <img class="p-preview__images--img" src="{{projectsUrl+'getImage/'+projectData.image}}" alt="project preview image">
    </div>
    <div class="p-preview__desc">
        <h4 class="p-preview__desc--title">{{projectData.name}}</h4>
        <p class="p-preview__desc--desc">{{projectData.description}}</p>
        <ul class="p_preview__desc__tools">
            <li class="p_preview__desc__tools--tool" *ngFor="let item of projectData.langs">{{item}}</li>
        </ul>
    </div>
</article>