
.skills__card__img--img {
    width: 20rem;
    height: 20rem;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../assets/img/computer.png);
}

.skills__band-container {
    background-color: var(--gray-dark);
    padding: 2rem 0;
}

.skills__ban--title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
    color: var(--white);
}

.skills__list {
    overflow-x: scroll;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    padding: 4rem;
    gap: 2rem;
}

.skills__list::-webkit-scrollbar {
    display: none;
}

.skills__list__el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills__list__el--img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.skills__list__el--name {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}