/* Skills list container */

.skills__card__img--img {
    width: 20rem;
    height: 20rem;

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../assets/img/computer.png);
}

.skills__band-container {
    background-color: var(--gray-dark);
    padding: 2rem 0;
}

.skills__band__title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
    color: var(--white);
}

/* .skills__list {
    overflow-x: scroll;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

.skills__list::-webkit-scrollbar {
    display: none;
}

.skills__list__el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 */

/* slider */

/* animation */
@keyframes scroll {
    0% {
        transform: translateX(calc(20rem*5));
    }

    100% {
        transform: translateX(calc(-20rem * 14));
    }
}

/* slider container */
.slider {
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    max-width: 100rem;
}

/* slider border gradients */
.slider::before,
.slider::after {
    background: linear-gradient(to right, var(--gray-dark) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 10rem;
    position: absolute;
    width: 15rem;
    z-index: 1;
}

/* left gradient */
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/* right gradient */
.slider::before {
    left: 0;
    top: 0;
}

/* animation */
.slider .slide-track {
    animation: scroll 5s linear infinite;
    display: flex;
    width: calc(20rem * 14);
}

/* each element of slider */
.slider .slide {
    height: 10rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* image of each element */
.skills__list__el--img {
    width: 3rem;
    height: 3rem;
}

/* name of each element */
.skills__list__el--name {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}