.skills {
    background-color: var(--gray-dark);
}

.skills__list {
    overflow-x: scroll;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    padding: 4rem;
    gap: 2rem;
}

.skills__list::-webkit-scrollbar {
    display: none;
}

.skills__list__el {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills__list__el--img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.skills__list__el--name {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}